<!-- BACKGROUND IMAGE ELEMENTS -->

<!-- Background Image -->
<img class="indexPageBackgroundImage" src="assets/images/sRGB_PhotoshopQuality8/sRGB_3000px_Scissors_Double.jpg" alt="Background Image"></img>

<!-- Mobile Background Image -->
<img class="indexPageMobileBackgroundImage" src="assets/images/sRGB_PhotoshopQuality8/sRGB_3000px_Scissors_Single_MobileCrop.jpg" alt="Mobile Background Image"></img>



<!-- NAVIGATION CONTAINER -->

<div class="navigationWhiteBackPlate"></div>

<div class="navigationContainer">

    <!-- Logo -->
    <img class="indexPageLogo" src="assets/images/sRGB_PNG/Logo.png" alt="Logo"></img>

    <div class="indexPageButtonsContainer">
        <button class="indexPageButton" onClick="window.open('makeReservation', '_self')">Make Reservation</button>
        <br>
        <button class="indexPageButton" onClick="window.open('barberPortal', '_self')">Barber Portal</button>
        <br>
        <button class="indexPageButton" onClick="window.open('services', '_self')">Services</button>
        <br>
        <button class="indexPageButton" onClick="window.open('contact', '_self')">Contact</button>
        <br>
    </div>

</div>