<!-- BACKGROUND IMAGE ELEMENTS -->

<!-- Background Image -->
<img class="backgroundImage" src="assets/images/sRGB_PhotoshopQuality8/sRGB_3000px_Scissors_Double.jpg" alt="Background Image"></img>

<!-- Mobile Background Image -->
<img class="mobileBackgroundImage" src="assets/images/sRGB_PhotoshopQuality8/sRGB_3000px_Scissors_Single_MobileCrop.jpg" alt="Mobile Background Image"></img>



<!-- LOGO BUTTON -->
<a class="logoButton" href="/">
    <img class="logo" src="assets/images/sRGB_PNG/Logo.png" alt="Logo"></img>
</a>
<br></br>



<!-- PAGE HEADING -->
<div class="pageHeading">Services</div>



<!-- MAIN CONTENT OF PAGE -->
<!-- BOOTSTRAP GRID -->

<br></br>

<!-- Max width 960px container -->
<div class="container mainContentContainer">         <!-- Put any bootstrap elements into class="container" to set max width to 960px and have it centered on page -->

    <div class="row">
        <!-- Column 1 -->
        <div class="col-md-12 servicesContent">

            Hair Cut
            <br>
            $30
            <br></br>
            Hair Cut with Beard Trim
            <br>
            $45
            <br></br>
            Hair Cut with Shave
            <br>
            $45
            <br></br>
            Beard Trim
            <br>
            $20
            <br></br>
            Shave
            <br>
            $20
            <br></br>
            Kid's Hair Cut
            <br>
            (12 years and younger)
            <br>
            $25

        </div>

    </div>

<br></br>

</div>



<!-- MENU -->

<!-- The Overlay -->
<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>      <!-- &times; is the icon for X -->
    
    <!-- Overlay content -->
    <div class="overlay-content">
        <a href="makeReservation">Make Reservation</a>
        <a href="barberPortal">Barber Portal</a> 
        <span class="nonActiveButton">Services</span>
        <a href="contact">Contact</a> 
        <a href="/">Back To Home</a>   
    </div>

</div>

<!-- Top Bar and Branding Text -->
<div class="topBar">
    <span class="branding">Branding</span>
</div>

<!-- Hamburger Menu -->
<div class="topnav">

    <!-- Hamburger icon -->
    <a href="javascript:void(0);" class="icon" onclick="openNav()">&#9776;</a>      <!-- &#9776; is the hamburger icon -->
    
</div>